@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<body>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div><!-- /# column -->
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a @*href="#"*@>Dashboard</a></li>
                                    <li class="active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->
                <div class="main-content">

                    @*<div class="row">
                            <div class="col-lg-6">
                                <div class="card alert">
                                    <div class="card-header">
                                        <h4>Calender</h4>
                                        <div class="card-header-right-icon">
                                            <ul>
                                                <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="year-calendar"></div>
                                    </div>
                                </div><!-- /# card -->
                            </div><!-- /# column -->
                        </div>*@<!-- /# row -->
                    <div class="rrowow">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card p-0">
                                        <div class="stat-widget-three">
                                            <div class="stat-icon bg-primary p-48">
                                                <i class="ti-eye"></i>
                                            </div>
                                            <div class="stat-content p-30">
                                                <div class="stat-text">Support Open Tickets</div>
                                                <div class="stat-digit">@ViewBag.openCount</div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="card p-0">
                                        <div class="stat-widget-three">
                                            <div class="stat-icon bg-success p-48">
                                                <i class="ti-bag"></i>
                                            </div>
                                            <div class="stat-content p-30">
                                                <div class="stat-text">Support close Tickets</div>
                                                <div class="stat-digit">@ViewBag.closeCount</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-lg-6">
                                    <div class="card p-0">
                                        <div class="stat-widget-three">
                                            <div class="stat-icon bg-warning p-48">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                            <div class="stat-content p-30">
                                                <div class="stat-text">Support InProgress Tickets</div>
                                                <div class="stat-digit">@ViewBag.inProgressCount</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="card p-0">
                                        <div class="stat-widget-three">
                                            <div class="stat-icon bg-danger p-48">
                                                <i class="ti-user"></i>
                                            </div>
                                            <div class="stat-content p-30">
                                                <div class="stat-text">Total Employees</div>
                                                <div class="stat-digit">621</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@

                                @*<div class="col-lg-6">
                                        <div class="card bg-success">
                                            <div class="stat-widget-six">
                                                <div class="stat-icon p-15">
                                                    <i class="ti-stats-up"></i>
                                                </div>
                                                <div class="stat-content p-t-12 p-b-12">
                                                    <div class="text-left dib">
                                                        <div class="stat-heading">Daily sales</div>
                                                        <div class="stat-text">Total: 9765</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card bg-primary">
                                            <div class="stat-widget-six">
                                                <div class="stat-icon p-15">
                                                    <i class="ti-stats-down"></i>
                                                </div>
                                                <div class="stat-content p-t-12 p-b-12">
                                                    <div class="text-left dib">
                                                        <div class="stat-heading">Daily Expense</div>
                                                        <div class="stat-text">Total: 6765</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div><!-- /# column -->
                        @*<div class="col-lg-6">
                                        <div class="card alert">
                                            <div class="card-header">
                                                <h4>Earning Graph</h4>
                                                <div class="card-header-right-icon">
                                                    <ul>
                                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sales-chart">
                                                <canvas id="team-chart"></canvas>
                                            </div>
                                        </div>
                                    </div><!-- /# column -->
                            </div><!-- /# row -->
                            @*<div class="row">
                                    <div class="col-lg-4">
                                        <div class="card alert">
                                            <div class="card-header">
                                                <h4>Menu List</h4>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-responsive table-hover ">
                                                    <tbody>
                                                        <tr>
                                                            <td class="no-border">Chicken Burger</td>
                                                            <td class="no-border"><span class="btn btn-primary">$21</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Hot Dog</td>
                                                            <td><span class="btn btn-success">$15</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Soft Drinks</td>
                                                            <td><span class="btn btn-danger">$30</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nudulles</td>
                                                            <td><span class="btn btn-primary">$25</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thai Soup</td>
                                                            <td><span class="btn btn-success">$29</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fried Rice</td>
                                                            <td><span class="btn btn-danger">$14</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Vegitables</td>
                                                            <td><span class="btn btn-success">$18</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- /# column -->
                                    <div class="col-lg-8">
                                        <div class="card alert">
                                            <div class="card-header">
                                                <h4>Online Order List </h4>
                                                <div class="card-header-right-icon">
                                                    <ul>
                                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                        <li class="card-option drop-menu">
                                                            <i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                                            <ul class="card-option-dropdown dropdown-menu">
                                                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-responsive table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Order ID</th>
                                                            <th>Product</th>
                                                            <th>Quantity</th>
                                                            <th>Price</th>
                                                            <th>Delevery</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Saiful Islam</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-success">$21.56</td>
                                                            <td><span class="btn btn-success">Paid</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Jannatul Mariam</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-warning">$21.56</td>
                                                            <td><span class="btn btn-warning">Pending</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Anik Hasan</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-danger">$21.56</td>
                                                            <td><span class="btn btn-danger">Cancel</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Micheal Qin</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-success">$21.56</td>
                                                            <td><span class="btn btn-success">paid</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>John Doe</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-success">$21.56</td>
                                                            <td><span class="btn btn-success">Paid</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Jannatul Tasnim</td>
                                                            <td>#12456</td>
                                                            <td>Hot Dog</td>
                                                            <td>3</td>
                                                            <td class="color-warning">$21.56</td>
                                                            <td><span class="btn btn-warning">Pending</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- /# column -->
                                </div>*@<!-- /# row -->
                        @*<div class="row">
                            <div class="col-lg-4">
                                <div class="card alert">
                                    <div class="card-header">
                                        <h4>Order Progress</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="current-progress">
                                            <div class="progress-content">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="progress-text">Birthday Cake</div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="current-progressbar">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                    40% progress
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress-content">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="progress-text">Chicken Burger</div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="current-progressbar">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                                    60% progress
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress-content">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="progress-text">Kabab Masala</div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="current-progressbar">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                                    70% progress
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress-content">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="progress-text">Soft Drinks</div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="current-progressbar">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                                                    90% progress
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> /# column
                            @*<div class="col-lg-4">
                                <div class="card bg-primary">
                                    <div class="weather-widget">
                                        <div id="weather-one" class="weather-one p-17"></div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-lg-4">
                                <div class="card bg-success">
                                    <div class="testimonial-widget-one p-17">
                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-text">
                                                        <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <i class="fa fa-quote-right"></i>
                                                    </div>
                                                    <img class="testimonial-author-img" src="~/ContentTemplate/images/avatar/1.jpg" alt="" />
                                                    <div class="testimonial-author">TYRION LANNISTER</div>
                                                    <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*</div>*@
                        @*<div class="row">
                                <div class="col-lg-4">
                                    <div class="card alert">
                                        <div class="card-header">
                                            <h4>Todo List</h4>
                                            <div class="card-header-right-icon">
                                                <ul>
                                                    <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                    <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content">
                                                    <ul>
                                                        <li><label><input type="checkbox"><i></i><span>Decorate Kitchen Room</span><a href='#' class="ti-close"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>Delevery Pizza</span><a href='#' class="ti-close"></a></label></li>
                                                        <li><label><input type="checkbox"><i></i><span>New Order </span><a href='#' class="ti-close"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>Home Delevery</span><a href='#' class="ti-close"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>New Chicken Receipe</span><a href='#' class="ti-close"></a></label></li>
                                                    </ul>
                                                </div>
                                                <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /# column -->
                                <div class="col-lg-4">
                                    <div class="card alert">
                                        <div class="card-header">
                                            <h4>Customer Feed </h4>
                                            <div class="card-header-right-icon">
                                                <ul>
                                                    <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                    <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="recent-meaasge">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/ContentTemplate/images/avatar/1.jpg" alt="..."></a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Saiful Islam</h5>
                                                    <div class="meaasge-date">15 minutes Ago</div>
                                                    <p>We are happy about your service </p>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/ContentTemplate/images/avatar/2.jpg" alt="..."></a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Ishrat Jahan</h5>
                                                    <div class="meaasge-date">40 minutes ago</div>
                                                    <p>Quick service and good serve </p>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/ContentTemplate/images/avatar/3.jpg" alt="..."></a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Mr. Saifun</h5>
                                                    <div class="meaasge-date">1 hour ago</div>
                                                    <p>Really tasty reciepe </p>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/ContentTemplate/images/avatar/3.jpg" alt="..."></a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Mr. Saifun</h5>
                                                    <div class="meaasge-date">1 minutes ago</div>
                                                    <p>We like your birthday cake </p>
                                                </div>
                                            </div>
                                            <div class="media no-border">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/ContentTemplate/images/avatar/2.jpg" alt="..."></a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Ishrat Jahan</h5>
                                                    <div class="meaasge-date">40 minutes ago</div>
                                                    <p>Quick service and good serve </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /# card -->
                                </div><!-- /# column -->
                                <div class="col-lg-4">
                                    <div class="card alert">
                                        <div class="card-header">
                                            <h4>Timeline</h4>
                                            <div class="card-header-right-icon">
                                                <ul>
                                                    <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                                    <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="timeline">
                                                <li>
                                                    <div class="timeline-badge primary"><i class="fa fa-smile-o"></i></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h5 class="timeline-title">You deleted homepage.psd</h5>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>10 minutes ago</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h5 class="timeline-title">You change your profile picture</h5>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>20 minutes ago</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h5 class="timeline-title">You followed john doe</h5>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>30 minutes ago</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-badge success"><i class="fa fa-check-circle-o"></i></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h5 class="timeline-title">Some new content has been added. </h5>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>15 minutes ago</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /# card -->
                                </div>
                            </div>*@<!-- /# row -->
                    </div><!-- /# main content -->
                </div><!-- /# container-fluid -->
            </div><!-- /# main -->
        </div>


        @*<script src="~/ContentTemplate/js/lib/calendar-2/moment.latest.min.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/lib/calendar-2/semantic.ui.min.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/lib/calendar-2/prism.min.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/lib/calendar-2/pignose.calendar.min.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/lib/calendar-2/pignose.init.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/scripts.js"></script><!-- scripit init-->*@


        @*<script src="~/ContentTemplate/js/lib/jquery.min.js"></script><!-- jquery vendor -->
            <script src="~/ContentTemplate/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
            <script src="~/ContentTemplate/js/lib/sidebar.js"></script><!-- sidebar -->
            <script src="~/ContentTemplate/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
            <script src="~/ContentTemplate/js/lib/mmc-common.js"></script>
            <script src="~/ContentTemplate/js/lib/mmc-chat.js"></script>
            <script src="~/ContentTemplate/js/lib/nestable/jquery.nestable.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/lib/nestable/nestable.init.js"></script><!-- scripit init-->
            <script src="~/ContentTemplate/js/scripts.js"></script><!-- scripit init-->*@

</body>
